select {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  border-radius: 70px;
  color: #ff6cdf;
  background-color: #555555;
}

body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container1 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.container2 {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  
}

.container4 {
  /* max-width: 960px; */
  /* margin: 100 auto; */
  padding: 40px;
  background-color: #2c2c2c;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}




header {
  background-color: #333;
  color: #fff;
  padding: 300px 0;
  text-align: center;
}

header h1 {
  font-size: 70px;
  margin: 0;
}

header p {
  font-size: 40px;

}

h1 {
  font-size: 50px;
  text-align: center;
  color: #f009be;

}

.main-content1 {
  background-color: #ffbef1;
  padding: 270px 0;
}

.main-content2 {
  background-color: #ff6cdf;
  padding: 420px 0;
text-align: center;
}

.main-content1 h2 {
  color: #ff6cdf;
  font-size: 50px;
  text-align: center;
  display: flex;

}


.main-content2 h2 {
  color: #ffbef1;
  font-size: 50px;
  text-align: center;
}

.main-content1 p {
  color: #f009be;
  font-size: 20px;
}

.main-content2 p {
  color: #fff5f5;
  font-size: 20px;
}

.code-examples {
  background-color: #f0f0f0;
  padding: 40px 0;
}

.code-snippet {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
}


.code-snippet h3 {
  color: #5f004b;
  font-size: 30px
}

pre {
  background-color: #ffdcf3;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-x: auto;
}

.javascript {
  color: rgb(248, 0, 207);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

button {
  background-color: #ff00dd;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}